
<div>
  <%= form_for(resource, as: resource_name, 
    data: { turbo: false }, 
    url: registration_path(resource_name)) do |f| %>
    <%= render partial:'shared/back_form', 
      locals: {title: "Sign up", form: f, button: "Next", back: root_path}
    %>
    <div class="field">
      <div class="flex row align-center margin-10">
        <img src=<%=image_path("user.png")%>/>
        <label id="label-for-image" for="user_image" class="text-color font-large margin-left-10 underlined">Upload picture </label>
        <%= f.file_field :image, class:"inputfile" %>
      </div>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Ful name" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    </div>
    <%= render "devise/shared/error_messages", resource: resource %>
  <% end %>
</div>
<script>
  document.getElementById('user_image').addEventListener('change', (e) => {
    if(e.target.files.length == 1){
      fileName = e.target.files[0].name;
      document.getElementById('label-for-image').textContent = fileName;
    }
    console.log(e.target.files)
  });
</script>
