<div>
  <%= form_for(resource, as: resource_name, 
    data: { turbo: false }, 
    url: registration_path(resource_name)) do |f| %>
    <div class="flex main-bg-color color-white justify-center align-center justify-between height-40px">
        <%= link_to "🡄", :back, method: :get, class:"back" %>
      <h2>Sign up</h2>
      <div class="actions">
        <%= f.submit "Next" %>
      </div>
    </div>
    <div class="field">
      <div class="flex row align-center margin-10">
        <img src=<%=image_path("user.png")%>/>
        <div>
          <label class="text-color font-large margin-left-10">Upload picture </label>
          <%= f.file_field :image %> </br>
        </div>
      </div>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Ful name" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    </div>
    <%= render "devise/shared/error_messages", resource: resource %>
  <% end %>
</div>

