<div class="container">
  <%= form_with model: @category, method:'post', class:'form',url: categories_create_path do |form| %>
    <%= render partial:'shared/back_form', 
        locals: {title: "Add Category", form: form, button: "Create", back: categories_index_path}%>
    <div class="field">
      <div class="flex row align-center margin-10">
      <img src=<%=image_path("save-money.png")%> id='image-file' class="img-w60"/>
        <label id="label-for-image" for="category_image" 
            class="color-white font-large margin-left-10 underlined">
          Upload picture 
        </label>
        <%= form.file_field :image, accept: 'image/png,image/jpeg', class:"inputfile" %>
      </div>
      <%= form.text_field :name, autofocus: true, placeholder: "Name" %>
    </div>
  <% end %>
</div>

<script>
  document.getElementById('category_image').addEventListener('change', (e) => {
    if(e.target.files.length == 1){
      const file = e.target.files[0];
      document.getElementById('label-for-image').textContent = file.name;
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = readerEvent => {
        document.getElementById('image-file').src = reader.result;
      }
    }
    console.log(e.target.files)
  });
</script>