<div class="container">
  <%= form_with model: @category, method:'post', class:'form',url: categories_create_path do |form| %>
  <div class="flex main-bg-color color-white justify-center align-center justify-between height-40px">
    <a class="back ml-10 color-white" data-method="get" href="<%=categories_index_path%>">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 color-white" viewBox="0 0 20 20" fill="currentColor">
       <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
      </svg>
    </a>
    <h2>Add Category</h2>
    <div class="actions color-white mr-10">
      <%= form.submit "Create" %>
    </div>
  </div>
    <div class="field">
      <div class="flex row align-center margin-10">
        <img src=<%=image_path("save-money.png")%>/>
        <label id="label-for-image" for="category_image" 
            class="text-color font-large margin-left-10 underlined">
          Upload picture 
        </label>
        <%= form.file_field :image, class:"inputfile" %>
      </div>
      <%= form.text_field :name, autofocus: true, placeholder: "Name" %>
    </div>
  <% end %>
</div>

<script>
  document.getElementById('category_image').addEventListener('change', (e) => {
    if(e.target.files.length == 1){
      fileName = e.target.files[0].name;
      document.getElementById('label-for-image').textContent = fileName;
    }
    console.log(e.target.files)
  });
</script>