<%= render partial:'shared/back_menu', locals: {title: "Details", back: entity_index_path(category_id: @category.id)}%>
<div class="flex column justify-between color-bg-white padding-20">
  <div class="flex margin-bottom-10">
    <p class="bold">Transaction #</p>
    <p class="bold"><%=@transaction.id%></p>
  </div>
  <div class="flex justify-between margin-bottom-10">
    <p class="text text-color bold"><%=@transaction.name%></p>
    <p class="text"><%=number_to_currency @transaction.amount%></p>
  </div>
  <p class="font-small italic"><%=@transaction.created_at.localtime.ctime%></p>
</div>